@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Details.css">
    <link rel="stylesheet" href="~/css/xuongMoc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Xưởng mộc giá tốt|xuongmotgiatot</title>
    <style>
        .slide .slick-prev:before, .slide .slick-next:before {
            font-size: 30px;
            color: #bd945f;
        }

        .slide3 .slick-prev:before, .slide3 .slick-next:before {
            opacity: 1;
            color: #bd945f;
        }
    </style>
</head>
<body>
    <div style="background: #fff;">
        <section class="main container top">
            <div class="logo">
                <img src="~/img/logo.png" alt="">
            </div>
            <div class="divrong"></div>
            <nav class="col-md-8 navs nav-link navbar navbar-expand-lg navbar-light ">
                <div class=" navh ">
                    <div class="navh3">
                        <a class=" navbar-brand" href="/home/trangchu">Trang Chủ</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                        <a class="navbar-brand" href="/home/gioithieu">Giới Thiệu</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh ">
                    <div class="navh3">
                        <a class="navbar-brand" href="/home/sanpham">Sản Phẩm</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                        <a class="navbar-brand" href="/home/tintuc">Tin Tức</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                        <a class="navbar-brand" href="/home/doitac">Đối Tác</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh ">
                    <div class="navh3">
                        <a class="navbar-brand" href="/home/lienhe">Liên Hệ</a>
                        <div class="gachduoi"></div>
                    </div>
                </div>
            </nav>
            <div class="navh2">
                <div class="button2">
                    <div class="span"></div>
                    <div class="span"></div>
                    <div class="span"></div>
                    <div class="span"></div>
                </div>
            </div>
        </section>
    </div>



    <div class="khoangtrong">
        <div class="container">
            <div class="pt-4 pb-4">
                <a href="xuongmoc.html">Trang chủ</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">Phòng khách</a>
                <i class="fa-solid fa-chevron-right"></i>
                <a href="#">Bàn uống nước</a>
            </div>
        </div>

    </div>

    <section class="tintuc">
        <div class="tintuc_in container">
            <div class="khoangtrang_1"></div>
            <div class="row">
            </div>
            <div class="detail">
                <div class="detail_content pt-4">
                    <ul>
                        <li class="line_active">
                            Đặc trưng
                            <div class="verticalLine"></div>
                        </li>
                        <li>
                            Thông số
                            <div class="verticalLine"></div>
                        </li>
                        <li>
                            Bảo quản
                            <div class="verticalLine"></div>
                        </li>
                        <li>
                            Bảo hành
                            <div class="verticalLine"></div>
                        </li>
                        <li>Cam kết</li>
                    </ul>
                    <div class="line_bottom"></div>
                    <p class="pt-3 pb-5">- Bàn cà phê cứng đơn giản với kệ mờ</p>
                </div>
            </div>
        </div>
    </section>

    <div class="lienhe">
        <div class="lienhe_in">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 ttchung">
                    <h6>THONG TIN CHUNG</h6>
                    <div class="bottomSpnb"></div>
                    <h5>CÔNG TY TNHH HOÀNG HOAN</h5>
                    <P><i class="fa-solid fa-phone"></i>   0.123.987.654</P>
                    <P><i class="fa-regular fa-envelope"></i>   cskh@hoanghoan.vn</P>
                    <p><i class="fa-sharp fa-solid fa-location-dot">  </i> số 3 ,cầu giấy ,hà nội</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 veus">
                    <h6>VỀ CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <p>giới thiệu </p>
                    <p>Sản phẩm</p>
                    <p>Tin tức</p>
                    <p>Đối tác</p>
                    <p>Liên hệ</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ketnoi">
                    <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <img src="~/img/thongbao.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            GetProductDetail();
        });

        function GetProductDetail() {

            var urlParams = new URLSearchParams(window.location.search);
            var productId = urlParams.get('id');

            console.log(productId);

            $.ajax({
                url: '/home/GetProductById/' + productId,
                method: 'GET',
                contentType: "application/json",
                beforeSend: function () {
                    console.log("before send...!");
                },
                success: function (reponse) {
                    const len = reponse.length;
                    console.log(reponse);
                    for (var i = 0; i < len; ++i) {
                        let cate = reponse[i];

                        let table = `<div class="tintuc_1 col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                                <div class="image">
                                                    <h5 class="pt-4 pb-3">${cate.tenSP}</h5>
                                                    <div class="slide3s container">
                                                        <div class="image">
                                                             <img style="width:680px; height: 520px;" src="${cate.hinhAnh}" alt="">
                                                        </div>
                                                    </div>
                                                    </div>
                                                    </div>
                                                       <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                           <div class="category">
                                                                   <h5 class="" style="margin-top: 5rem; color: #bd945f;">${cate.giaBan} VND</h5>
                                                                   <p>${cate.moTa}</p> 
                                                                   <button class="btn protect">
                                                                      <i class="fa-solid fa-shield-heart"></i>
                                                                            Bảo hành sản phẩm lên tới 24 tháng
                                                                   </button>
                                                       </div>
                                                    </div>`;

                        $('.tintuc .tintuc_in .row').append(table);
                    }
                },
                error: function (response) { },
            });
        }
    </script>
</body>
</html>