@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/xuongMoc.css">
    <link rel="stylesheet" href="~/css/doitac.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
  />
  <title>Xưởng mộc giá tốt|xuongmotgiatot</title>
</head>
<body>
    <section class="main container top">
        <!-- <nav class="container"> -->
            <div class="logo">
                <img src="~/img/logo.png" alt="">
            </div>
            <div class="divrong"></div>
            <nav class="col-md8 navs nav-link navbar navbar-expand-lg navbar-light ">
                <div class=" navh ">
                    <div class="navh3">
                    <a class=" navbar-brand" href="/home/trangchu">Trang Chủ</a>
                    <div class="gachduoi"></div>
                </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                    <a class="navbar-brand" href="/home/gioithieu">Giới Thiệu</a>
                    <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh ">
                    <div class="navh3">
                    <a class="navbar-brand" href="/home/sanpham">Sản Phẩm</a>
                    <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                    <a class="navbar-brand" href="/home/tintuc">Tin Tức</a>
                    <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                    <a class="navbar-brand" href="/home/doitac">Đối Tác</a>
                    <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh ">
                    <div class="navh3">
                    <a class="navbar-brand" href="/home/lienhe">Liên Hệ</a>
                    <div class="gachduoi"></div>
                    </div>
                </div>
                <div class="navh">
                    <div class="navh3">
                        <a href="/home/login"><i class="fa-solid fa-user"></i></a>
                        <!-- <div class="gachduoi"></div> -->
                    </div>
                </div>
        </nav>
        <div class="navh2">
            <div class="button2">
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
            </div>
        </div>
    </section>
    <section class="bannerDoiTac">
        <div class="banner_img ">
            <img src="~/img/gioithieu.jpg" alt="">
        </div>

        <div class="out_doitac ">

            <div class="row">
                <div class="khoangtrang_1"></div>
                <section class="sanphamnb">
                    <h2>THÀNH LẬP & PHÁT TRIỂN</h2>
                    <div class="bottomSpnb"></div>
                </section>
                <div class="doitac  ">

                    <div class="gt_1   col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <img src="~/img/gt_1.jpg" alt="">
                    </div>
                    <div class="content col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <p>Nội Thất Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề mộc và khao khát mang những sản phẩm nội thất đẹp của mình đến với khách hàng thân yêu. <br> <br> Cả 1 quá trình từ 1 người thợ phụ rồi được làm thợ mộc chính, tự tạo ra cho mình 1 phân xưởng nhỏ dần phát triển và hiện tại Hoàng Hoan đã là 1 trong những công ty có dịch vụ thiết kế và thi công nội thất uy tín chất lượng với giá tốt nhất tại Hà Nội với sứ mệnh “đem đến cho khách hàng không gian nội thất hoàn hảo”.
                            <br> <br> Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp cho khách hàng theo nhiều gam màu sắc khác nhau và phong cách đa dạng, theo đúng ở thích, lứa tuổi và phong thủy của khách hàng.
                        </p>
                    </div>
                </div>
                <section class="sanphamnb">
                    <h2>TẦM NHÌN</h2>
                    <div class="bottomSpnb"></div>
                </section>
                <div class="tamnhin">
                    <img src="~/img/gt_tamNhin.jpg" alt="">
                </div>
                <div class="tamnhin">
                    <p>Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất trên triết lý tôn trọng và giữ gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các giải pháp sản phẩm và công nghệ tiên tiến nhất, hợp tác với các đối tác công nghệ hàng đầu thế giới, tìm kiếm và phát triển các vùng nguyên liệu tự nhiên được thiên nhiên chọn lọc, ưu đãi trong nước lẫn nước ngoài, tất cả nhằm tạo ra các sản phẩm nội thất tự nhiên gần gữi cho người khách hàng Việt Nam.</p>
                </div>
                <section class="sanphamnb">
                    <h2>SỨ MỆNH</h2>
                    <div class="bottomSpnb"></div>
                </section>
                <div class="about_b">
                    <div class="about_b_l ">
                        <div class="about_br_top">
                            <div class="us_out">
                                <img src="~/img/sumenh1.jpg" alt="">
                                <div class="text_bt_about">
                                    <h4>Với xã hội</h4>
                                    <p>Hài hòa lợi ích doanh nghiệp với lợi ích xã hội, tích cực
                                        cùng cộng đồng xây dựng môi trường sống bền vững.</p>
                                </div>
                            </div>
                        </div>
                        <div class="khoangtrang_1"></div>
                        <div class="about_br_top">
                            <div class="us_out">
                                <img src="~/img/sumenh2.jpg" alt="">
                                <div class="text_bt_about">
                                    <h4>Với đối tác </h4>
                                    <p>Đề cao tinh thần hợp tác cùng phát triển,cam kết trở thành
                                        “Người đồng hành số 1” của các đối tác.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="khoangtrang_1"></div>
                    <div class="about_b_r">
                        <div class="about_br_top">
                            <div class="us_out">
                                <img src="~/img/sumenh3.jpg" alt="">
                                <div class="text_bt_about">
                                    <h4>Với nhân viên</h4>
                                    <p>Xây dựng môi trường làm việc chuyên nghiệ+p, năng động, <br>
                                        sáng tạo và nhân văn.</p>
                                </div>
                            </div>
                        </div>
                        <div class="khoangtrang_1"></div>
                        <div class="about_br_top">
                            <div class="us_out">
                                <img src="~/img/sumenh4.jpg" alt="">
                                <div class="text_bt_about">
                                    <h4>Với thị trường</h4>
                                    <p>Cung cấp các sản phẩm với chất lượng quốc tế và phù hợp <br> 
                                        với con người Việt Nam. </p>
                                </div>
                            </div>
                        </div>
                        <div class="khoangtrang_1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrong">   </div>
    <div class="lienhe">
        <div class="lienhe_in">
            <div class="row">
                <div   class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 ttchung">
                    <h6>THONG TIN CHUNG</h6>
                    <div class="bottomSpnb"></div>
                    <h5>CÔNG TY TNHH HOÀNG HOAN</h5>
                    <P><i class="fa-solid fa-phone"></i>   0.123.987.654</P>
                    <P><i class="fa-regular fa-envelope"></i>   cskh@hoanghoan.vn</P>
                    <p><i class="fa-sharp fa-solid fa-location-dot">  </i> số 3 ,cầu giấy ,hà nội</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 veus">
                    <h6>VỀ CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <p>giới thiệu </p>
                    <p>Sản phẩm</p>
                    <p>Tin tức</p>
                    <p>Đối tác</p>
                    <p>Liên hệ</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ketnoi">
                    <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <img src="~/img/thongbao.png" alt="">
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>