@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/xuongmoc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/font.css">
    <link rel="stylesheet" href="~/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <title>Xưởng mộc giá tốt|xuongmotgiatot</title>
    <style>
        .slide .slick-prev:before, .slide .slick-next:before {
            font-size: 30px;
            color: #bd945f;
        }

        .slide2 .slick-prev:before, .slide2 .slick-next:before {
            opacity: 0;
        }
    </style>
</head>
<body>

    <section class="main container top">
        <!-- <nav class="container"> -->
        <div class="logo">
            <img src="~/img/logo.png" alt="">
        </div>
        <div class="divrong"></div>
        <nav class="col-md-8 navs nav-link navbar navbar-expand-lg navbar-light ">
            <div class=" navh ">
                <div class="navh3">
                    <a class=" navbar-brand" href="/home/trangchu">Trang Chủ</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="/home/gioithieu">Giới Thiệu</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh ">
                <div class="navh3">
                    <a class="navbar-brand" href="/home/sanpham">Sản Phẩm</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="/home/tintuc">Tin Tức</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="/home/doitac">Đối Tác</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh ">
                <div class="navh3">
                    <a class="navbar-brand" href="/home/lienhe">Liên Hệ</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a href="/home/login"><i class="fa-solid fa-user"></i></a>
                    <!-- <div class="gachduoi"></div> -->
                </div>
            </div>
        </nav>
        <div class="navh2">
            <div class="button2">
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="banner_in container">
            <h3>THế Giới Nội Thất Số 1 Việt Nam</h3>
            <h3>Hoàng Hoan</h3>
            <p>
                Sứ mệnh của chúng tôi là kết hợp hài hòa giữa ý tưởng và mong muốn của khách hàng, đem lại những phút giây thư
                giãn tuyệt vời bên gia đình và những người thân yêu.
            </p>
            <button>Liên Hệ Ngay</button>
        </div>
        <div class=" len">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/phong-ngu.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Phòng Khách</p>
                        </div>
                    </div>
                    <!-- <p> Phòng Ngủ</p> -->
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/phong-khach.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Phòng Ngủ</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/phong-bep.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Phòng Bếp</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/phong-tam.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Phòng Tắm</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/tre-em.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Trẻ Em</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/van-phong.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Văn Phòng</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/cau-thang.png" alt="sp1.png" class="w-100">
                        </div>
                        <div class="len_p">
                            <p>Cầu Thang</p>
                        </div>
                    </div>
                </div>
                <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 whites">
                    <div class="item">
                        <div class="img">
                            <img src="~/img/den-trang-tri.png" alt="sp1.png" class="w-100">
                            <div class="len_p">
                                <p>Đồ Trang Trí</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="sanphamnb">
            <h2>Sản Phẩm Nổi Bật</h2>
            <div class="bottomSpnb"></div>
        </section>
        <div class="slide ">
            <div class="image-slider">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/sp-1.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Giường châu âu</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(size lớn trắng sữa)</p>
                        <p class="p_price">8.999.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/sp-2.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Bàn Làm Việc</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(size vừa, trắng nâu)</p>
                        <p class="p_price">3.999.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/sp-3.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Tủ Quần Áo</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(4 ngăn , trắng gõ)</p>
                        <p class="p_price">12.999.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/sp-4.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Kệ Bê Đồ</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(4 ngăn,trắng gỗ)</p>
                        <p class="p_price">2.399.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Bàn Uống Nước</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(size lớn trắng sữa)</p>
                        <p class="p_price">8.999.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/ke-dau-giuong.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Kệ Đầu Dường</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(size lớn trắng sữa)</p>
                        <p class="p_price">8.999.000 VND</p>
                    </div>
                </div>
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/phong-khach-ke-ti-vi.png" alt="">
                    </div>
                    <div class="slide_ct">
                        <h4>Kệ Ti Vi</h4>
                        <div class="star">
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                            <i class=" fa-solid fa-star"></i>
                        </div>
                        <p>(size lớn trắng sữa)</p>
                        <p class="p_price">8.999.000 VND</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about_us  ">
        <div class="overlay"></div>
        <div class="over_text">
            <div class="about_us_in">
                <section class="sanphamnb">
                    <h2>Về Chúng Tôi</h2>
                    <div class="bottomSpnb"></div>
                </section>
            </div>
        </div>
        <div class="about_cover ">
            <div class="about_mid">
                <div class="about_mid_l">
                    <img src="~/img/ve-chung-toi.jpg" alt="">
                </div>
                <div class="about_mid_r">
                    <h5>Nội Thất</h5> <h5>Hoàng Hoan</h5>
                    <h5> Uy Tín song hành chất lượng</h5>
                    <p>Nội thất Hoàng Hoan chúng tôi tự hào là đứa con tinh thần ra đời sau hơn 30 năm hoạt động trong lĩnh vực kinh doanh đồ gỗ nội thất với thương hiệu đồ gỗ HOÀNG HOAN nổi tiếng.</p>
                    <p>Tài nguyên của chúng tôi là đội ngũ kiến trúc sư tốt nghiệp ĐH Kiến Trúc Hà Nội với nhiều năm kinh nghiệm, luôn tràn đầy nhiệt huyết và sức sáng tạo của tuổi trẻ. Thế mạnh của chúng tôi là sở hữu xưởng nội thất hơn 10.000m2 tại Hà Nội sản xuất đa dạng các sản phẩm với giá cả luôn cạnh tranh.</p>
                    <div class="about_m_r_b">
                        <img src="~/img/tintuc-1.png" alt="TinTuc1">
                        <img src="~/img/tintuc-2.png" alt="TinTuc2">
                        <img src="~/img/tintuc-3.png" alt="TinTuc3">
                        <img src="~/img/tintuc-4.png" alt="TinTuc4">
                    </div>
                </div>
            </div>
        </div>
        <div class="about_us_in2">
            <section class="sanphamnb">
                <h2>Tại Sao Nên Chọn Hoàng Hoan</h2>
                <div class="bottomSpnb"></div>
            </section>

            <div class="about_b">
                <div class="about_b_l ">
                    <div class="about_br_top">
                        <div class="us_out">
                            <img src="~/img/chon-1.jpg" alt="">
                            <div class="text_bt_about">
                                <h4>chính sách giá</h4>
                                <p>tốt nhất và công khai giá trên website </p>
                            </div>
                        </div>
                    </div>
                    <div class="about_br_top">
                        <div class="us_out">
                            <img src="~/img/chon-3.jpg" alt="">
                            <div class="text_bt_about">
                                <h4>Chất Lượng</h4>
                                <p>Cam kết chất lượng và tiến độ thi công </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about_b_r">
                    <div class="about_br_top">
                        <div class="us_out">
                            <img src="~/img/chon-2.jpg" alt="">
                            <div class="text_bt_about">
                                <h4>Sản Xuất</h4>
                                <p>Trực tiếp sản xuất bởi đội ngũ hàng đầu</p>
                            </div>
                        </div>
                    </div>
                    <div class="about_br_top">
                        <div class="us_out">
                            <img src="~/img/chon-4.jpg" alt="">
                            <div class="text_bt_about">
                                <h4>Bảo Hành</h4>
                                <p>Dịch vụ bảo hành sản phẩm tốt nhất khu </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tintuc">
        <section class="sanphamnb">
            <h2>Tin Tức</h2>
            <div class="bottomSpnb"></div>
        </section>
        <div class="about_b">
            <div class="tintucl ">
                <img src="~/img/tt-0.png" alt="">
            </div>
            <div class="tintucr ">
                <div class="ttr">
                    <div class="ttrl"><img src="~/img/tt-1.png" alt=""></div>
                    <div class="ttrr">
                        <h6>Trang trí phòng khách cho thêm năng động</h6>
                        <p>Home furniture, interior design furniture, bedroom furniture, wooden furniture - find photography of them all in our gallery of furniture photos. Everything is licensed under the free Pexels license. Find the best stock free photos here.</p>
                    </div>
                </div>
                <div class="ttr">
                    <div class="ttrl"><img src="~/img/tt-2.png" alt=""></div>
                    <div class="ttrr">
                        <h6>Cập nhật xu hướng phòng khách phong cách tối giản</h6>
                        <p>Home furniture, interior design furniture, bedroom furniture, wooden furniture - find photography of them all in our gallery of furniture photos. Everything is licensed under the free Pexels license. Find the best stock free photos here.</p>
                    </div>
                </div>
                <div class="ttr">
                    <div class="ttrl"><img src="~/img/tt-3.png" alt=""></div>
                    <div class="ttrr">
                        <h6>Cách bố trí nhà bếp ,bàn ăn một cách rộng rãi</h6>
                        <p>Home furniture, interior design furniture, bedroom furniture, wooden furniture - find photography of them all in our gallery of furniture photos. Everything is licensed under the free Pexels license. Find the best stock free photos here.</p>
                    </div>
                </div>
                <a class="xthem" href="#"> Xem thêm <i class="fa-sharp fa-solid fa-arrow-right"></i> </a>
            </div>
        </div>
        <section class="sanphamnb">
            <h2>Đối Tác</h2>
            <div class="bottomSpnb"></div>
        </section>
        <div class="slide2 container">
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/dt-coffee-house.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/dt-marvella.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/dt-mellisa.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/dt-muongthanh.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/dt-sharaton.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="image-slider2">
                <div class="image-item">
                    <div class="image">
                        <img src="~/img/doitac6.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="add_tt">
        <div class="ghe">
            <img src="~/img/ghe.png" alt="">
        </div>
        <div class="add_tt_in">
            <div class="text_l">
                <p>Trải nghiệm dịch vụ</p>
                <h6>Cùng Hoàng Hoan ngay</h6>
                <div class="bottomSpnb"></div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td class="nhaptt" width="200px">Nhập thông tin</td>
                    </tr>
                    <tr>
                        <td class="input1"> <input type="text" size="30" name="userName" id="userName" placeholder="Emai/Số điện thoại"></td>
                        <td> <input type="submit" name="" id="" value="Gửi"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="lienhe">
        <div class="lienhe_in">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 ttchung">
                    <h6>THONG TIN CHUNG</h6>
                    <div class="bottomSpnb"></div>
                    <h5>CÔNG TY TNHH HOÀNG HOAN</h5>
                    <P><i class="fa-solid fa-phone"></i>   0.123.987.654</P>
                    <P><i class="fa-regular fa-envelope"></i>   cskh@hoanghoan.vn</P>
                    <p><i class="fa-sharp fa-solid fa-location-dot">  </i> số 3 ,cầu giấy ,hà nội</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 veus">
                    <h6>VỀ CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <p>giới thiệu </p>
                    <p>Sản phẩm</p>
                    <p>Tin tức</p>
                    <p>Đối tác</p>
                    <p>Liên hệ</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ketnoi">
                    <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <img src="~/img/thongbao.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.image-slider').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            responsive: [
                {
                    breakpoint: 1502,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1,
                    }
                },
            ]
        });
        var filtered = false;
        $('.js-filter').on('click', function () {
            if (filtered === false) {
                $('.filtering').slick('slickFilter', ':even');
                $(this).text('Unfilter Slides');
                filtered = true;
            } else {
                $('.filtering').slick('slickUnfilter');
                $(this).text('Filter Slides');
                filtered = false;
            }
        });
        $('.slide2').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2500,
            responsive: [
                {
                    breakpoint: 1502,
                    settings: {
                        slidesToShow: 5,
                    }
                },
                {
                    breakpoint: 1202,
                    settings: {
                        slidesToShow: 5,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 5,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 3,
                    }
                },
            ]
        });
    </script>
</body>
</html>