
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3f3f3 !important;
}

.box_main { 
    background-color: #fff;
}

.top{
    z-index: 7;
}
.main{
    font-family: Gotham-Medium;
    display: flex;
    justify-content: space-around;
}
.main .logo{
    margin: 1rem 0;
}
.divrong{
    width: 300px;
}
.main .logo img{
    width: 6rem;
}
.navs{
    width: 800px;
    justify-content: space-between;
}
.gachduoi{
    width: 1px;
    height: 5px;
    border: 3px solid #bd945f;
    opacity: 0;
}
.navh:hover .gachduoi{
    width: 60px;
    height: 5px;
    border: 3px solid #bd945f;
    opacity: 1;
    transition: 0.5s;
}
/* nút 3 dấu gạch */
.navh{
    display: flex;
    justify-content: center;
}
.navh2{
    opacity: 0;
    width: 50px;
    height: 100%;
    display: flex;
    position: relative;
}
.navh2 .button2{
    margin-top: 50px;
    width: 50px;
    align-items: center ;
    
}
.navh2 .button2 .span {
    height: 1px;
    width: 50px;
    background-color: #000;

}   
.navh2 .button2 .span:nth-child(1) {
    height: 2px;
    width: 50px;
    background-color: #000;
    margin-bottom: 10px;
}
.navh2 .button2 .span:nth-child(3) {
    margin-bottom: 10px;
}
.navh2 .button2 .span:nth-child(4) {
    /* display: none; */
    height: 2px;
}
.spanDeg{
    transform: rotateZ(45deg); 
    padding: 1px 0;
}
.spanDeg2{
    transform: rotateZ(-45deg); 
    height: 10px;
    padding: 1px 0;
}
.spanNone{
    opacity: 0;
}
/* kết thúc 3 dấu gạch */

section.tintuc .image h5 {
    margin-left: 0.8rem;
}

section.tintuc .image .image-slider3 .image {
    border: 2px solid #fff;
}

div.khoangtrong a{
    text-decoration: none;
    font-size: 16px;
    color: #bd945f;
    font-weight: 700;
}

div.khoangtrong i {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    font-size: 12px;
}

.fourimg{
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}
.image .fourimg img{
    width: 20%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

section.tintuc .container {
    background-color: #fff;
}

.slick-prev {
    left: -10px !important;

}

.slick-next {
    right: -10px !important;
}

/* RIGHT */
div.category .cate_btn .btn{
    padding: 0.2rem 3.5rem;
    border: 2px solid #bd945f;
    font-weight: 600;
}

div.category .cate_btn .btn:last-child{
    padding: 0.2rem 3.5rem;
    border: 2px solid #000;
}

div.category h6 {
    text-decoration-line: line-through;
}

div.category h5:nth-of-type(2) {
    color: #bd945f;
}

div.category .protect {
    border: 1px solid #363636;
    font-weight: 500;
}

section.tintuc .detail .detail_content ul{
    display: flex;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

section.tintuc .detail .detail_content ul li {
    list-style: none;
    padding-right: 2.5rem;
    font-size: 1.4rem;
    color: #bd945f;
    font-weight: 500;
}

section.tintuc .detail .detail_content ul .line_active
{
    position: relative;
    color: rgb(0, 0, 62);
}

section.tintuc .detail .detail_content ul .line_active::before {
    content: "";
    position: absolute;
    border: 3px solid rgb(0, 0, 62);
    margin-top: 0.40rem;
    left: -10%;
    top: 100%;
    width: 10.1rem;
}

.verticalLine {
    width: 3px; /* Line width */
    background-color: #bd945f; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: right;
    margin-left: 2.5rem;
}

.line_bottom {
    color: #bd945f;
    border: 2px solid #bd945f;
    width: 90%;
}

section.tintuc .detail .detail_content p {
    margin-bottom: 0.2rem;
    font-weight: 500;
}

/* PRODUCT */

section.Product {
    background-color: #f3f3f3;
}

section.Product h3 {
    position: relative;
}

section.Product h3::before {
    content: "";
    position: absolute;
    border: 4px solid #bd945f;
    margin-top: 0.5rem;
    left: 0%;
    top: 100%;
    width: 100px;
    margin-bottom: 2rem;
}

section.Product .container {
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section.Product .container .row .content h5 {
    text-align: center;
    font-weight: 800;
}

section.Product .container .row .content .star {
    text-align: center;
}

section.Product .container .row .content .star i{
    color: #bd945f;
}

section.Product .container .row .content p:nth-of-type(1) {
    color: grey;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.25rem;
}

section.Product .container .row .content p:nth-of-type(2) {
    color: #000;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

/* FOOTER */

footer {
    background-color: #363636;
}

footer .container h6,
footer .container h5 {
    text-transform: uppercase;
    color: #fff;
}

footer .container h6 {
    margin-bottom: 0.2rem;
}

footer .container .fter_item-left {
    display: flex;
    color: #fff;
}

footer .container .fter_item-left i {
    margin-top: 0.3rem;
}

footer .container .fter_item-left p {
    padding-left: 0.5rem;
}

footer .container .fter_item-mid p{
    color: #fff;
    margin-bottom: 0.2rem;
    font-size: 16px;
}

footer .container .fter_item-right i{
    font-size: 24px;
    color: #fff;
    padding-left: 0.2rem;
    padding-bottom: 1rem;
} 

.bottomSpnb{
    border: 2px solid #ffffff;
    background-color: #ffffff;
    width:60px;
    margin-left: 0;
    margin-bottom: 0.7rem;
}
