<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/xuongMoc.css">
    <link rel="stylesheet" href="/css/sanpham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <style>
        .slide .slick-prev:before, .slide .slick-next:before {
            opacity: 0;
        }
    </style>
    <title>Xưởng mộc giá tốt|xuongmotgiatot</title>
</head>
<body>
    <section class="main container top">
        <!-- <nav class="container"> -->
        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="divrong"></div>
        <nav class="col-md8 navs nav-link navbar navbar-expand-lg navbar-light ">
            <div class=" navh ">
                <div class="navh3">
                    <a class=" navbar-brand" href="xuongmoc.html">Trang Chủ</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="gioithieu.html">Giới Thiệu</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh ">
                <div class="navh3">
                    <a class="navbar-brand" href="http://127.0.0.1:5503/html/sanpham.html">Sản Phẩm</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="tintuc.html">Tin Tức</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a class="navbar-brand" href="doitac.html">Đối Tác</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh ">
                <div class="navh3">
                    <a class="navbar-brand" href="lienhe.html">Liên Hệ</a>
                    <div class="gachduoi"></div>
                </div>
            </div>
            <div class="navh " id="turnon">
                <div class="navh3">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <!-- <div class="gachduoi"></div> -->
                </div>
            </div>
            <div class="navh">
                <div class="navh3">
                    <a><i class="fa-solid fa-user"></i></a>
                    <!-- <div class="gachduoi"></div> -->
                </div>
            </div>
        </nav>
        <div class="navh2">
            <div class="button2">
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
                <div class="span"></div>
            </div>
        </div>
    </section>
    <section>
        <section class="bannersp">
            <img src="/img/bannersp.jpg" alt="Liên hệ">
            <div class="container content ">
                <div class=" box">
                    <h3 class="text-uppercase"> Thế giới nội thất số 1 việt nam <br> <span> Hoàng hoan </span>  </h3>
                    <a href="/lien-he" class="text-uppercase"> Mua ngay </a>
                </div>
            </div>
        </section>
    </section>
    <div class="khoangtrang">
    </div>
    <section class="loaisp">
        <div class="content container">
            <div class="slide">
                <h5>Phòng khách</h5>
                <div class="gach">
                    <div class="gach_in"></div>
                    <a>xem tất cả>></a>
                </div>
                <div class="image-sliders row">
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/sp-1.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4 class="pt-3"><a style="text-decoration: none; color: black;">Giường châu âu</a></h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>

                    </div>
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/sp-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Làm Việc</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size vừa, trắng nâu)</p>
                            <p class="p_price">3.999.000 VND</p>
                            <p class="p_price2">3999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/sp-3.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Tủ Quần Áo</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn , trắng gõ)</p>
                            <p class="p_price">12.999.000 VND</p>
                            <p class="p_price2">12999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>

                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/sp-4.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Bê Đồ</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn,trắng gỗ)</p>
                            <p class="p_price">2.399.000 VND</p>
                            <p class="p_price2">2399000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Đầu Dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">4.999.000 VND</p>
                            <p class="p_price2">4999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                    <div class="image-item col-md-3">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Ti Vi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">2.999.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrang">
    </div>
    <!-- <section class="loaisp">
        <div class="content">
            <div class="slide">
                <h5>Phòng khách</h5>
                <div class="gach">
                    <div class="gach_in"></div>
                    <a>xem tất cả>></a>
                </div>
                <div class="image-slider">
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">1.999.000 VND</p>
                            <p class="p_price2">1999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>

                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ đầu dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size vừa, trắng nâu)</p>
                            <p class="p_price">3.999.000 VND</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ để tivi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn , trắng gõ)</p>
                            <p class="p_price">12.999.000 VND</p>
                            <p class="p_price2">12999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-4.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Bê Đồ</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn,trắng gỗ)</p>
                            <p class="p_price">2.399.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Đầu Dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Ti Vi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrang">
    </div>
    <section class="loaisp">
        <div class="content">
            <div class="slide">
                <h5>Phòng khách</h5>
                <div class="gach">
                    <div class="gach_in"></div>
                    <a>xem tất cả>></a>
                </div>
                <div class="image-slider">
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-1.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Giường châu âu</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Làm Việc</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size vừa, trắng nâu)</p>
                            <p class="p_price">3.999.000 VND</p>
                            <p class="p_price2">3999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-3.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Tủ Quần Áo</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn , trắng gõ)</p>
                            <p class="p_price">12.999.000 VND</p>
                            <p class="p_price2">12999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-4.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Bê Đồ</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn,trắng gỗ)</p>
                            <p class="p_price">2.399.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Đầu Dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">1.999.000 VND</p>
                            <p class="p_price2">1999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Ti Vi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">2.999.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrang">
    </div>
    <section class="loaisp">
        <div class="content">
            <div class="slide">
                <h5>Phòng khách</h5>
                <div class="gach">
                    <div class="gach_in"></div>
                    <a>xem tất cả>></a>
                </div>
                <div class="image-slider">
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-1.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Giường châu âu</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Làm Việc</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size vừa, trắng nâu)</p>
                            <p class="p_price">3.999.000 VND</p>
                            <p class="p_price2">3999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-3.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Tủ Quần Áo</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn , trắng gõ)</p>
                            <p class="p_price">12.999.000 VND</p>
                            <p class="p_price2">12999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-4.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Bê Đồ</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn,trắng gỗ)</p>
                            <p class="p_price">2.399.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Đầu Dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Ti Vi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrang">
    </div>
    <section class="loaisp">
        <div class="content">
            <div class="slide">
                <h5>Phòng khách</h5>
                <div class="gach">
                    <div class="gach_in"></div>
                    <a>xem tất cả>></a>
                </div>
                <div class="image-slider">
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-1.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Giường châu âu</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="price_number">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Làm Việc</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size vừa, trắng nâu)</p>
                            <p class="p_price">3.999.000 VND</p>
                            <p class="p_price2">3999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-3.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Tủ Quần Áo</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn , trắng gõ)</p>
                            <p class="p_price">12.999.000 VND</p>
                            <p class="p_price2">12999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/sp-4.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Bê Đồ</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(4 ngăn,trắng gỗ)</p>
                            <p class="p_price">2.399.000 VND</p>
                            <p class="p_price2">2999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ban-uong-nuoc-2.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Bàn Uống Nước</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/ke-dau-giuong.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Đầu Dường</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                    <div class="image-item">
                        <div class="image">
                            <img src="/img/phong-khach-ke-ti-vi.png" alt="">
                        </div>
                        <div class="slide_ct">
                            <h4>Kệ Ti Vi</h4>
                            <div class="star">
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                                <i class=" fa-solid fa-star"></i>
                            </div>
                            <p>(size lớn trắng sữa)</p>
                            <p class="p_price">8.999.000 VND</p>
                            <p class="p_price2">8999000</p>
                            <button class="them2">Thêm vào giỏ hàng</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="khoangtrang"></div> -->

    <div class="lienhe">
        <div class="lienhe_in">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 ttchung">
                    <h6>THONG TIN CHUNG</h6>
                    <div class="bottomSpnb"></div>
                    <h5>CÔNG TY TNHH HOÀNG HOAN</h5>
                    <P><i class="fa-solid fa-phone"></i>   0.123.987.654</P>
                    <P><i class="fa-regular fa-envelope"></i>   cskh@hoanghoan.vn</P>
                    <p><i class="fa-sharp fa-solid fa-location-dot">  </i> số 3 ,cầu giấy ,hà nội</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 veus">
                    <h6>VỀ CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <p>giới thiệu </p>
                    <p>Sản phẩm</p>
                    <p>Tin tức</p>
                    <p>Đối tác</p>
                    <p>Liên hệ</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ketnoi">
                    <h6>KẾT NỐI VỚI CHÚNG TÔI</h6>
                    <div class="bottomSpnb"></div>
                    <div class="social">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <img src="/img/thongbao.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <section id="Cart-box" class="miniCart">
        <div class="miniCart-container">
            <div class="miniCart-header">
                <div class="miniCart-title">GIỎ HÀNG CỦA BẠN</div>
                <button class="miniCart-closeBtn">
                    <svg class="icon_root__7i1Fo" viewBox="0 0 20 20" opacity="1"><path d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z" fill="currentColor"></path></svg>
                </button>
            </div>
            <div class="miniCart-tagline">
                <i class="fa-solid fa-truck-arrow-right tagline-icon"></i>MIỄN PHÍ VẬN CHUYỂN ĐƠN HÀNG > 700K
            </div>
            <div class="miniCart-body">
                <!-- <div class="miniCart-item">
                    <div class="cartItem-img">
                        <img src="https://curnonwatch.com/_next/image/?url=https%3A%2F%2Fshop.curnonwatch.com%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2Fd96eb53c23516f6ca600411b8495131f%2Fg%2F_%2Fg.rise.png&w=1920&q=75" alt="">
                        <button>
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                    <div class="cartItem-box">
                        <div class="cartItem-boxInfo">
                            <h3 class="cartItem-infoName">RISE</h3>
                            <div class="cartItem-infoPrice">
                                <p class="cartItem-newPrice" data-value="2000">2.039.000 ₫</p>
                                <p class="cartItem-newPrice2" data-value="2000">2.039.000 ₫</p>
                                <div class="soluong">
                                    <p class="cartItem-oldPrice">số lượng</p>
                                <input type="number"   name="soLuong" id="soLuong" value="1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="cartItem-itemOption">
                    <p class="cartItem-option">40MM</p>
                    <div class="cartItem-btnQuantity">
                        <button><i class="fa-solid fa-minus"></i></button>
                        <p class="quantity-text">Qty: 1</p>
                        <button><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div> -->

            </div>
            <div class="miniCart-footer">
                <div class="miniCart-total">
                    <span class="miniCart-text">Thành tiền:</span>
                    <span class="miniCart-price">0 ₫</span>
                </div>
                <button>
                    <span>THANH TOÁN NGAY</span>
                    <svg class="miniCart_ctaBtnRightArrow__5VYQo" viewBox="0 0 12 6" opacity="1" data-projection-id="59"><path fill="currentColor" d="M0.125 2.70484C0.0416667 2.77556 0 2.87279 0 2.99654C0 3.12029 0.0416667 3.22636 0.125 3.31476C0.229167 3.38547 0.354167 3.42083 0.5 3.42083H10.2812L8.15625 5.25058C7.90625 5.44504 7.89583 5.64835 8.125 5.86049C8.375 6.05496 8.61458 6.04612 8.84375 5.83397L11.8438 3.28824C11.9063 3.25288 11.9479 3.20869 11.9688 3.15565C11.9896 3.10261 12 3.04958 12 2.99654C12 2.94351 11.9896 2.89047 11.9688 2.83743C11.9479 2.7844 11.9063 2.7402 11.8438 2.70484L8.84375 0.159108C8.61458 -0.0530361 8.375 -0.0530361 8.125 0.159108C7.89583 0.353574 7.90625 0.54804 8.15625 0.742506L10.2812 2.57225H0.5C0.354167 2.57225 0.229167 2.61645 0.125 2.70484Z"></path></svg>
                </button>
                <!-- <div class="miniCart-estimationText">
                    *Ước lượng thời gian ship:
                    <span class="miniCart-estimationDate">23/08/2022</span>
                </div> -->
            </div>
        </div>
    </section>
    <!-- <input width="50px" type="number" name="soLuong" id="soLuong" value="1"> -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/xuongMoc.js"></script>
    <script>
        $('.image-slider').slick({
            slidesToShow: 4,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1502,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1,
                    }
                },
            ]
        });
    </script>
</body>
</html>