@{
    Layout = "~/Areas/admin/views/shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Add / Edit Product</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <input type="number" id="id" hidden="hidden" />
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="MaLoaiSP">MaLoaiSP</label>
                <input type="text" class="form-control" id="MaLoaiSP" placeholder="Enter LoaiSP_Id">
            </div>
            <div class="form-group">
                <label for="MaThuongHieu">MaThuongHieu</label>
                <input type="text" class="form-control" id="MaThuongHieu" placeholder="Enter ThuongHieu_Id">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="SL">Số lượng</label>
                <input type="text" class="form-control" id="SL" placeholder="Quantity">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" id="image" placeholder="Image">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" onclick="add()" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
<!-- <div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Product Table</h3>
    </div>
    /.box-header 
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>-->
    <!-- /.box-body 
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>-->

@section Scripts
{
    <script>
        let lstcate = [];
        
        function add(){
            let id = $('#id').val();
            let obj = {
                Id: id ? id : 0,
                TenSP: $('#name').val(),
                LoaiSP_Id: $('#MaLoaiSP').val(),
                ThuongHieu_Id: $('#MaThuongHieu').val(),
                GiaBan: $('#price').val(),
                SoLuong: $('#SL').val(),
                HinhAnh: $('#image').val(),
                MoTa: $('#description').val(),
            }
            $.ajax({
                url: "/admin/home/add",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(obj),
                beforeSend: function () {
                    console.log("loading...");
                },
                success: function (res) {
                    alert("Thêm mới danh mục thành công");
                    window.location.replace("https://localhost:7262/admin/home/index");
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }

        
    </script>
}